@charset "UTF-8";
/*==================================================================
# 設定
================================================================= */
/* 色
-------------------------------------------------------------*/
/* レイアウト値
-------------------------------------------------------------*/
/* 階層
-------------------------------------------------------------*/
/* 余白
-------------------------------------------------------------*/
/* ヘッダー高さ
-------------------------------------------------------------*/
/* ブレークポイント
-------------------------------------------------------------*/
/* メディアクエリー
-------------------------------------------------------------*/
/*==================================================================
# 初期化
================================================================= */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'sans-serif';
  font-size: 1.6rem;
  color: #333;
  line-height: 1.875;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

body.noscroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

/*==================================================================
#  補完クラス
================================================================= */
/* PCだけ非表示
-------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

/*タブレットだけ非表示 
-------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}

/*スマホだけ非表示 
-------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

/*==================================================================
# 共通クラス
================================================================= */
/* セクション
-------------------------------------------------------------*/
.section {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 75px;
  }
}

.section-title {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.section-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #333;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .section-title::after {
    width: 80px;
  }
}

/* インナー
-------------------------------------------------------------*/
.inner {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 16px;
}

/*==================================================================
# header
================================================================= */
.header {
  width: 100%;
  height: 100px;
  padding: 40px 0 0 50px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 25px 0 0 25px;
  }
}

.site-title {
  width: 100px;
  position: relative;
  top: 0;
  left: 0;
}

.burger-btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FF0033;
  padding: 35px 25px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .burger-btn {
    width: 75px;
    height: 75px;
  }
}

.burger-btn:hover.close {
  opacity: .7;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_top {
  -webkit-transform: translate(-50%, 12px) rotate(45deg);
          transform: translate(-50%, 12px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (max-width: 767px) {
  .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 6px) rotate(45deg);
            transform: translate(-50%, 6px) rotate(45deg);
  }
}

.burger-btn.close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
  -webkit-transform: translate(-50%, -16px) rotate(-45deg);
          transform: translate(-50%, -16px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (max-width: 767px) {
  .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -16px) rotate(-45deg);
            transform: translate(-50%, -16px) rotate(-45deg);
  }
}

.bar {
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.bar_top {
  top: 35px;
}

@media screen and (max-width: 767px) {
  .bar_top {
    top: 25px;
  }
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 35px;
}

@media screen and (max-width: 767px) {
  .bar_bottom {
    bottom: 25px;
  }
}

.musk {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FF0033;
  z-index: 2;
  display: none;
}

.nav-wrapper {
  display: none;
}

.nav-wrapper .site-title {
  position: fixed;
  top: 40px;
  left: 50px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .nav-wrapper .site-title {
    top: 25px;
    left: 25px;
  }
}

.header-nav {
  position: fixed;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.nav-list {
  text-align: center;
}

.nav-item + .nav-item {
  margin-top: 18px;
}

.nav-item-link {
  color: #fff;
  font-weight: 700;
  letter-spacing: .1em;
}

.header-nav-button {
  margin-top: 40px;
}

.header-nav-button a {
  display: inline-block;
  width: 250px;
  height: 46px;
  line-height: 46px;
  background-color: #FF0033;
  color: #fff;
  font-weight: 700;
  letter-spacing: .1em;
  border: solid 1px #fff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-nav-button a:hover {
  background-color: #fff;
  color: #FF0033;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-nav-button a::before {
  position: absolute;
  content: '';
  top: 6px;
  right: -12px;
  width: 1px;
  height: 46px;
  background-color: #fff;
}

.header-nav-button a::after {
  position: absolute;
  content: '';
  bottom: -8px;
  left: 10px;
  width: 250px;
  height: 1px;
  background-color: #fff;
}

/*==================================================================
# main
================================================================= */
/* first view
-------------------------------------------------------------*/
.fv {
  width: 100vw;
  height: 700px;
}

@media screen and (max-width: 767px) {
  .fv {
    height: 490px;
  }
}

.slider {
  position: relative;
  top: 0;
  left: 0;
  max-width: 75%;
  max-height: 700px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .slider {
    max-width: 100%;
    max-height: 300px;
  }
}

.slider li {
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (max-width: 767px) {
  .slider li {
    max-width: 100%;
    max-height: 300px;
  }
}

.slider li::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px 0px 20px 20px #fff;
          box-shadow: inset 0px 0px 20px 20px #fff;
}

.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fv-wrapper {
  position: absolute;
  content: '';
  top: 50%;
  left: 15%;
  max-width: 500px;
}

@media screen and (max-width: 767px) {
  .fv-wrapper {
    position: static;
    margin-top: 10px;
    padding: 0 16px;
  }
}

.main-copy {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1.6;
  text-shadow: 5px 5px 15px #fff;
}

@media screen and (max-width: 767px) {
  .main-copy {
    font-size: 2.8rem;
  }
}

.fv-link {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .fv-link {
    margin-top: 10px;
  }
}

.fv-link a {
  display: inline-block;
  font-size: 2.4rem;
  line-height: .5;
  color: #fff;
  letter-spacing: .1em;
  text-align: center;
  background-color: #FF0033;
  position: relative;
  width: 100%;
  max-width: 480px;
  padding: 25px 30px;
  border-radius: 10px;
  border-bottom: 6px solid #7A051C;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.fv-link a::before, .fv-link a::after {
  position: absolute;
  content: '';
  right: 30px;
  width: 16px;
  height: 3px;
  background-color: #fff;
}

.fv-link a::before {
  position: absolute;
  content: '';
  top: 25px;
  right: 30px;
  width: 16px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fv-link a::after {
  position: absolute;
  content: '';
  bottom: 25px;
  right: 30px;
  width: 16px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fv-link a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

/* reason
-------------------------------------------------------------*/
.reason-wrapper {
  margin-top: 80px;
  background-color: #FF0033;
  padding: 80px 0;
}

@media screen and (max-width: 767px) {
  .reason-wrapper {
    padding: 40px 0;
  }
}

.reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  max-width: 700px;
  max-height: 200px;
  padding: 70px 20px 70px 20px;
}

.reason-item + .reason-item {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .reason-item {
    padding: 24px 20px;
  }
}

.item-left {
  border-radius: 0 20px 20px 0;
}

.item-right {
  border-radius: 20px 0px 0px 20px;
  margin-left: auto;
}

.reason-item-img {
  margin-right: 30px;
}

.reason-item-img img {
  max-height: 60px;
}

.reason-item-title {
  font-size: 2.8rem;
  color: #FF0033;
  letter-spacing: .1em;
  font-weight: 700;
  line-height: 1;
}

.reason-item-detail {
  font-size: 1.8rem;
}

/* voice
-------------------------------------------------------------*/
.voice-list {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .voice-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.voice-item + .voice-item {
  margin-top: 60px;
}

.voice-item-left {
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .voice-item-left {
    margin-top: 25px;
  }
}

.voice-img {
  width: 120px;
  height: 120px;
  background-color: #CCC;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .voice-img {
    margin: 0 auto;
  }
}

.voice-body {
  margin-top: 10px;
  text-align: center;
}

.voice-body-text {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .voice-item-right {
    max-width: 508px;
    position: relative;
  }
  .voice-item-right::before {
    position: absolute;
    content: '';
    bottom: 52px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #E9F1FB transparent transparent;
  }
}

@media screen and (max-width: 767px) {
  .voice-item-right {
    max-width: 100%;
    position: relative;
  }
  .voice-item-right::before {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 0 20px;
    border-color: #E9F1FB transparent transparent transparent;
  }
}

.voice-right-text {
  background-color: #E9F1FB;
  padding: 20px;
  border-radius: 15px;
  letter-spacing: .1em;
}

.voice-item-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
}

.voice-item-reverse .voice-item-left {
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  .voice-item-right-reverse {
    max-width: 508px;
    position: relative;
  }
  .voice-item-right-reverse::before {
    position: absolute;
    content: '';
    bottom: 52px;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #E9F1FB;
  }
}

@media screen and (max-width: 767px) {
  .voice-item-right-reverse {
    max-width: 100%;
    position: relative;
  }
  .voice-item-right-reverse::before {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 0 20px;
    border-color: #E9F1FB transparent transparent transparent;
  }
}

/* about 
-------------------------------------------------------------*/
.about {
  background: url(../img/bg.gif) repeat center center;
  padding: 60px;
  -webkit-animation: bgiLoop 20s linear infinite;
          animation: bgiLoop 20s linear infinite;
}

@-webkit-keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 2000px;
  }
}

@keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 2000px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 60px 0;
  }
}

.about-list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .about-list {
    margin-top: 40px;
  }
}

.about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.674%;
          flex: 0 0 47.674%;
  background-color: #fff;
  margin-right: 40px;
  padding: 60px 30px;
  margin-bottom: 32px;
  border-radius: 20px;
  text-align: center;
}

.about-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .about-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-item-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .1em;
}

.about-item-en-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .1em;
}

.about-item-text {
  max-width: 278px;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
  letter-spacing: .1em;
}

/* apply
-------------------------------------------------------------*/
.apply {
  margin-bottom: 120px;
}

.apply-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .apply-title {
    font-size: 2.4rem;
  }
}

.apply-text {
  text-align: center;
  margin-top: 5px;
  font-size: 1.8rem;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .apply-text {
    font-size: 1.6rem;
  }
}

.apply-btn {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  background-color: #FF0033;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .1em;
  color: #fff;
  text-align: center;
  border: 5px solid #FF0033;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

.apply-btn:hover {
  background-color: #fff;
  color: #FF0033;
  border: 5px solid #FF0033;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

@media screen and (max-width: 767px) {
  .apply-btn {
    font-size: 2.4rem;
  }
}

/*==================================================================
# footer
================================================================= */
.footer {
  background-color: #E8E8E8;
  padding: 60px 0 20px 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer-item {
    width: 42%;
    margin-top: 30px;
    margin-right: 34px;
  }
  .footer-item:nth-child(2n) {
    margin-right: 0;
  }
}

.footer-item-title {
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .footer-item-title {
    font-size: 1.5rem;
  }
}

.footer-item-body {
  padding-left: 10px;
}

.footer-item-text a {
  letter-spacing: .1em;
  color: #333;
}

@media screen and (max-width: 767px) {
  .footer-item-text a {
    font-size: 1.2rem;
  }
}

.footer-copyright {
  margin-top: 60px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .1em;
}
/*# sourceMappingURL=style.css.map */